# SMTP Settings
SMTP_PORT=587
SMTP_USER=myuser
SMTP_PASS=mypassword

# Optional: Extra Users JSON
# SMTP_USERS_JSON='[{"user":"u1","pass":"p1"},{"user":"u2","pass":"p2"}]'

# Dashboard Settings
MONITOR_PORT=8080

# Identity
SMTP_DOMAIN=example.com

# Debugging
DEBUG=false
